
.desktop-btn {
    display: block;
    width: 6.25rem;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 0.625rem 1.25rem;
    font-size: 30px;
    border: 2px solid #fff;
    margin: 0.5rem;
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: 0.25rem 0.25rem rgba(0, 0, 0, 0.4);
    transition: transform 0.2s cubic-bezier(0.34, 1.65, 0.88, 0.925) 0s;
    outline: 0;
}







.desktop-btn:nth-child(1) {
    -ms-transform: rotate(5deg) scale(0.9);
    -webkit-transform: rotate(5deg) scale(0.9);
    transform: rotate(5deg) scale(0.9);
}

.desktop-btn:nth-child(1):hover {
    background: #00E178;
}

.desktop-btn:nth-child(2) {
    -ms-transform: rotate(-7deg) scale(0.9);
    -webkit-transform: rotate(-7deg) scale(0.9);
    transform: rotate(-7deg) scale(0.9);
}

.desktop-btn:nth-child(2):hover {
    background: #3686FF;
}
.extra-btn {
    padding: 0.625rem 1.25rem;
    font-size: 30px;
    height: 4rem;
    margin-top: 2.5rem;
    width: 6.5rem;
    -ms-transform: rotate(5deg) scale(0.9);
    -webkit-transform: rotate(5deg) scale(0.9);
    transform: rotate(5deg) scale(0.9);
}
.extra-btn:hover {
    background-color:rgb(210, 225, 0) ;
}

.switch-line {
    margin-top: 2.5rem;
    width: 7.5rem;
    -ms-transform: rotate(5deg) scale(0.9);
    -webkit-transform: rotate(5deg) scale(0.9);
    transform: rotate(5deg) scale(0.9);
}



.switch-line:hover {
    background: rgb(210, 225, 0);
}


.desktop-btn:hover
 {
    -ms-transform: rotate(0deg) scale(1.2);
    -webkit-transform: rotate(0deg) scale(1.2);
    transform: rotate(0deg) scale(1.2);
}

.desktop-btn:focus,
.desktop-btn:active {
    -ms-transform: rotate(0deg) scale(1);
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
}



